.card{
  margin-top: 50px;
  text-align: center;

}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
 
  .table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }

  .update{
    background-color: yellow;
    padding: 7px;
    border: none;
    border-radius: 5px;
  }
  .delete{
    background-color: red;
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
  }

  @media (max-width: 600px) {
    /* CSS áp dụng cho kích thước màn hình nhỏ hơn hoặc bằng 600px */
    .table td,
    .table th {
      padding: 6px;
      font-size: 12px;
    }
    
    .table img {
      width: 30px;
      height: 30px;
    }
    
    .button {
      padding: 6px 12px;
    }
    
    .update,
    .delete {
      padding: 5px;
      font-size: 10px;
    }
  }
  
  